@font-face {
	font-family: 'Lobster';
	src: url("../fonts/Lobster.ttf");
	src: url("Lobster.ttf") format("truetype"));
	font-style:normal;
	font-weight:normal;
}
@font-face {
	font-family: 'PressStart2P-Regular';
	src: url("../fonts/PressStart2P-Regular.ttf");
	src: url("../fonts/PressStart2P-Regular.ttf") format("truetype"));
	font-style:normal;
	font-weight:normal;
}
html{
	background-color:lightgray;
}
header {
	text-align: center;
	background-color:white;
}
header a {
	display:inline-flex;
	margin: 25px 30px;
	padding:0;
	color:black;
	text-transform:uppercase;
	font-family: Courier New;
	font-weight:bold;
}
header a:hover {
	color:#22b967;
}
#Main{
	color:#22b967;
	border:none;
	text-decoration:none !important;
}
#Main:hover {
	color:black;
}
#Main:focus {
	border:none !important;
}
main{
	background-color:white;
}
body {
	margin:0;
}
ul li img {
	width: 30px;
	height: 30px;
	margin: 0 2px 0 2px;
}
ul {
	list-style:none;
	text-align:center;
	margin: 5px 0 30px 0;
	padding:100px 40px 0 40px;
}
li {
	display: inline-flex;
}
hr {
	display:inline-flex;
	width:20%;
	margin:0 0 3px 0;
	background-color:#22b967;
	border:none;
}
hr + div {
	display:inline-flex;
	padding:0;
	margin: 5px 0;
	font-family: 'Lobster';
}
.podpis {
	text-align:center;
}
#Logo {
	text-align:center;
	width:60%;
	height:15em;
	margin:0 auto 50px auto;
	padding:0;
	display:block;
}
#slider {
	background-color:#595959;
	text-align:center;
	width:100%;
	height:650px;
	color:#ccc;
	display:inline-flex;
	
}
#slcontent0, #slcontent1 {
	padding-top:300px;
	flex: 10;
}
#slbl, #slbr {
	padding-top:360px;
	flex: 1;
}
.slright, .slleft {
	padding:19px 25px;
	border-radius:5px;
	border:none;
	color:#a0a0a0;
	background-color:#474747;
}
.slright:hover, .slleft:hover {
	border: 1px solid black;
}
#slcontent0 h2, #slcontent1 h2 {
	color:#e8e8e8;
}
#slcontent0 p, #slcontent1 p {
	color:#a0a0a0;
	font-style:italic;
	margin: 0 0 50px 0;
}
#slcontent0 a:visited, #slcontent1 a:visited{
	color:white;
}
#slcontent0 a, #slcontent1 a {
	padding:10px;
	background-color:#22b967;
	color:white;
}
#slcontent0 a:hover, #slcontent1 a:hover {
	color:black;
}
a {
	text-decoration:none;
}